.message-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.message-container.me {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  justify-content: end;
}

.message-container.other {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  justify-content: start;
}

.message-bubble {
  max-width: 60%;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  white-space: pre-line;
}

.message-bubble.me {
  background-color: #009d64;
  /* color: #d0ccb9; */
}

.message-bubble.other {
  background-color: #fff;
  color: #1e1f23;
}
