.message-input-form {
  display: flex;
  gap: 0.5rem;
}

.message-input-field {
  height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  flex-grow: 1;
  background-color: #3d3f44;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  color: #fff;
}

.message-input-field::placeholder {
  color: #fff;
}

.message-send-button {
  color: #d0ccb9;
  padding: 0 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.message-send-button:hover {
  color: #ffffff;
}
